.btn{
    display: inline-block;
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: 'Gilroy' , sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 35px;
    transition: background 1s;
    outline: none;

    &__dark{  
        background-color: $main-color;
        color: #fff;
        border: 1px solid #fff;
        &:hover{
            color: $main-color;
            background: #fff;  
            border: 1px solid $main-color;
        }
    }
    &__white{  
       background: #fff;
       color: $main-color;
       border: 1px solid $main-color;
       &:hover{
           color: #fff;
           background: $main-color; 
           border: 1px solid #fff;
       }
   }
}