.blog{
    padding: 0;
    padding-top: 120px;
    &__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template: repeat(1 , 370px) / repeat(3 , 350px);
        grid-auto-rows: 370px;
        gap: 30px;
        &__link{
            position: relative;
            &__text{
                width: 100%;
                position: absolute;
                bottom: 35px;
                left: 50%;
                transform: translateX(-50%);
                font-family: 'Gilroy' , sans-serif;
                font-size: 21px;
                line-height: 140%;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}