.exclusive{
    margin: 0;
    margin-top: 150px;
    padding-top: 100px;
    padding-bottom: 120px;
    background: url('../img/exclusiveBg.jpg');
    &__wrapper{
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    &__list{
        margin: 0;
        font-family: 'Gilroy', sans-serif;
        font-size: 18px;
        line-height: 200%;
        color: #fff;
        list-style: none;
        &__item{
            position: relative;
            &:before{
                content: '';
                position: absolute;
                display: block;
                left: -32px;
                top: 3px;
                width: 17px;
                height: 17px;
                background: url('../icon/listItem.svg') center center / cover no-repeat;
            }
        }
        
    }
    &__email{
        margin-left: 60px;
        padding: 14px;
        border: 1px solid #fff;
        form{
            width: 418px;
            height: 85px;
            background-color: #fff;
            position: relative;
            display: flex;
            input{
                position: absolute;
                width: 200px;
                height: 45px;
                left: 22px;
                top: 50%;
                transform: translateY(-50%);
                border: 1px solid #D6D6D6;
                box-sizing: border-box;

            }
            button{
                position: absolute;
                width: 159px;
                height: 45px;
                right: 22px;
                top: 50%;
                transform: translateY(-50%);
                display: inline-block;
                font-family: 'Gilroy' , sans-serif;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                text-align: center;
                background-color: $main-color;
                color: #fff;
                border: 1px solid #fff;
                transition: background 1s;
                &:hover{
                    color: $main-color;
                    background: #fff;  
                    border: 1px solid $main-color;
                }
            }
        }
    }
    
}