
.header{
    position: relative;
    background-color: $main-color;
    height: 111px;
    &__hamburger{
        display: none;
        position: absolute;
        height: 25px;
        width: 35px;
        top: 20px;
        right: 20px;
        span{ 
            display: block;
            height: 4px;
            margin-bottom: 6px;
            width: 35px;
            background-color: #fff;
            &:nth-child(3){
                margin: 0;
            }
            &:nth-child(2){
                width: 25px;
            }
        }
    }
    &__wrapper{
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    
    &__links{
        padding-top: 18px;
        width: 321px;
        display: flex;
        justify-content: space-between;
    }
    &__link{
        color: #fff;
        font-family: 'Gilroy' , sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        text-decoration: none;
    }
    &__panel{
        padding-top: 18px;
        width: 375px;
        a{
            font-family: 'Gilroy' , sans-serif;
            font-size: 14px;
            line-height: 150%;
            color: #fff;
            text-decoration: none;
        }
    }
    &__search{
        margin-left: 0;
    }
    &__text{
        margin-left: 16px;
    }
    &__logout{
        margin-left: 40px;
    }
    &__profile{
        margin-left: 44px;
    }
    &__heart{
        margin-left: 16px;
    }  
    
}

