
.promo{
    background: url('../img/bgc.jpg') center (center / cover) no-repeat;
    height: 950px;
    position: relative;
    h1{
        margin-bottom: 0;
        display: block;
        margin-top: 520px;
        text-align: center;
        font-family: 'Noto Serif';
        letter-spacing: 0.1em;
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        color: #fff;
    }
    &__wrapper{
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    &:after{
        content: "";
        margin-top: 80px;
        display: block;
        background: #fff;
        height: 1px;
    }
    &__links{
        padding-top: 18px;
        width: 321px;
        display: flex;
        justify-content: space-between;
    }
    &__link{
        color: #fff;
        font-family: 'Gilroy' , sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        text-decoration: none;
    }
    &__panel{
        padding-top: 18px;
        width: 375px;
        a{
            font-family: 'Gilroy' , sans-serif;
            font-size: 14px;
            line-height: 150%;
            color: #fff;
            text-decoration: none;
        }
    }
    &__search{
        margin-left: 0;
    }
    &__text{
        margin-left: 16px;
    }
    &__logout{
        margin-left: 40px;
    }
    &__profile{
        margin-left: 44px;
    }
    &__heart{
        margin-left: 16px;
    }
    &__catalog{
        display: inline-block;
        margin-top: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        font-family: 'Gilroy' , sans-serif;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-decoration: none;
        background: $main-color;
        color: #fff;
        border: 2px solid;
        padding: 15px 35px;
        transition: background 1s;
        &:hover{
            color: $main-color;
            background: #fff;
            
        }
    }
    &__brands{
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        img{
            padding: 0 15px;
            border-right: 2px solid #fff;
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                border: none;
                padding-right: 0;
            }
        }
    }
}
