.products{
    padding-top: 100px;
    &__wrapper{
        padding: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    &__filter{
        padding: 0;
        width: 160px; 
        padding-bottom: 10px;
        border-bottom: 1px solid #D6D6D6;
        list-style-type: none;
        box-sizing: border-box;
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 150%;
        text-align: left;
        letter-spacing: 0.1em;
        cursor: pointer;
    }
    &__brend{
        width: 160px;
        display: flex;
        justify-content: space-between;
    }
    &__subbrend{
        display: none;
    }
    &__catalog{
        margin: 0 35px;
        padding: 0;
        padding-top: 95px;
        padding-bottom: 15px;
        min-height: 1050px;
        &__wrapper{
            display: none;
        }
        &__active {
            margin-top: 105px;
            display: grid;
            grid-template: repeat(1 , 370px) / repeat(3 , 280px);
            gap: 100px;
            padding-top: 100px;
            border-top: 1px solid #d6d6d6;
            &:first-child{
                margin: 0;
                padding: 0;
                border-top: none;
            }
        }
        
        &-item{
          widows: 280px;
          height: 370px;  
        }
    }
    &__title{
        margin: 0;
        margin-top: 25px;
        font-family: 'Gilroy', sans-serif;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: $main-color;
    }
    &__subtitle{
        margin: 0;
        margin-top: 10px;
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        text-align: center;
        color: $main-color;
    }
    &__info{
        margin-top: 100px;
        min-height: 320px;
        display: flex;
        justify-content: center;
        &__descr{
            width: 540px;
            min-width: 240px;
            margin-right: 100px;
            &__readMove{
                border: none; 
                outline: none; 
                background: none;
                cursor: pointer;
                padding: 0;
                font-family: 'Gilroy', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: $main-color;

            }
        }
        &__advantage{
            display: grid;
            grid-template: repeat(2, 135px) / repeat(2, 130px);
            gap: 30px;
            &__text{
                margin: 0;
                margin-top: 20px;
                text-align: center;
                font-family: 'Gilroy', sans-serif;
                font-size: 16px;
                line-height: 150%;
            }
        }
        &__text{
            display: none;
            margin: 0;
            font-family: 'Gilroy', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $main-color;
            &__active{
                display: block;
                position: relative;
                z-index: 1;
                &::after{
                    position: absolute;
                    display: block;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background: linear-gradient(to bottom, rgba(#fff, 0.0), rgba(#fff, 1.0));
                    z-index: 5;
                }
            }
        }
        &__icon{
            img{
                display: block;
                margin: 0 auto;
            }
        }
    }
}





.button{
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    width: 125px;
    height: 41px;
    left: 518px;
    top: 1227px;
    background: $main-color;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    transition: background 1s;
    &:hover{
        color: $main-color;
        background: #fff; 
        border: 1px solid $main-color;
    }
}
