.products{
    padding-top: 100px;
    &__wrapper{
        padding: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    &__filter{
        padding: 0;
        width: 160px; 
        padding-bottom: 10px;
        border-bottom: 1px solid #D6D6D6;
        list-style-type: none;
        box-sizing: border-box;
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 150%;
        text-align: left;
        letter-spacing: 0.1em;
        cursor: pointer;
    }
    &__brend{
        width: 160px;
        display: flex;
        justify-content: space-between;
    }
    &__subbrend{
        display: none;
    }
    &__catalog{
        margin: 0 35px;
        padding: 0;
        padding-top: 95px;
        padding-bottom: 15px;
        min-height: 1350px;
        &__wrapper{
            display: none;
        }
        &__active {
            margin-bottom: 105px;
            display: grid;
            grid-template: repeat(1 , 370px) / repeat(3 , 280px);
            gap: 100px;
            padding-bottom: 100px;
            border-bottom: 1px solid #d6d6d6;
            &:last-child{
                margin: 0;
                padding: 0;
                border-bottom: none;
            }
        }
        
        &-item{
          widows: 280px;
          height: 370px;  
        }
    }
    &__title{
        margin: 0;
        margin-top: 25px;
        font-family: 'Gilroy', sans-serif;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: $main-color;
    }
    &__subtitle{
        margin: 0;
        margin-top: 10px;
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        text-align: center;
        color: $main-color;
    }
}
.button{
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    width: 125px;
    height: 41px;
    left: 518px;
    top: 1227px;
    background: $main-color;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    transition: background 1s;
    &:hover{
        color: $main-color;
        background: #fff; 
        border: 1px solid $main-color;
    }
}
