.social{
    padding-top: 135px;
    &__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2 , 300px) / repeat(4, 277.5px);
        grid-auto-rows: 300px;
        gap: 0;
    }
    &__link{
        position: relative;
        &__play{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
.gorizontalFirst{
    grid-column: 1 / 3;
}
.gorizontalTwo{
    grid-column: 3 / 5;
}