@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('../fonts/Gilroy-Black');

@import 'base/mixin';
@import 'base/variables';
@import 'base/title';
@import 'base/button';



body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1110px;
    margin: 0 auto;
    
}

@import 'blocks/promo';
@import 'blocks/catalogs';
@import 'blocks/salons';
@import 'blocks/blog';
@import 'blocks/social';
@import 'blocks/exclusive';
@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/products';