@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('../fonts/Gilroy-Black');


body{
    margin: 0;
}
.container{
    width: 1110px;
    margin: 0 auto;
    
}

@import 'blocks/promo';